section {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .textBox {
  position: relative;
  max-width: 600px;
}
.content .textBox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}
.content .textBox h2 span {
  color: #fd7e14;
  line-height: 1.2em;
  font-weight: 900;
}
.content .textBox p {
  color: #333;
}
.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #fd7e14;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.content .imgBox {
  width: 900px;
  display: flex;
  justify-content: flex-end;
}
.content .imgBox img {
  max-width: 900px;
  max-height: 800px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}
.thumbnail {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}
.thumbnail li {
  list-style-type: none;
  display: inline-block;
  margin: 0px 20px;
  cursor: pointer;
}




.jumbotron {
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.bg-logo-jumbotron {
  background-image: url("../../assets/images/final file logo Barron Computing/Barron Computing-edit-banner.jpg");
}
.bg-appdev-jumbotron {
  background-image: url("../../assets/brandWebsiteBuilder/dev/appdevBanner.jpg");
}
.bg-design-jumbotron {
  background-image: url("../../assets/brandWebsiteBuilder/designAndAdmin/designBanner.PNG");
}
.bg-qa-jumbotron {
  background-image: url("../../assets/brandWebsiteBuilder/QA/qaBanner.PNG");
}
.display-4 {
  color: #fd7e14;
  font-weight: Bold;
}
.lead {
  color: #0d6efd;
  font-weight: Bold;
}
.floating {
  float: right;
}
