<section>
  <!-- Circle effect -->
  <div [class]="circleClass"></div>

  <!-- Content -->
  <div class="content">
    <div class="textBox">
      <h2>More than just <br /><span>Computing</span></h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <a href="#">Learn More </a>
    </div>
    <div class="imgBox">
      <img
        src="{{imagesrc}}"
        class="barron-computing"
        alt=""
      />
    </div>
  </div>

  <!-- Thumbnails -->
  <div>
    <ul class="thumbnail">
      <li>
        <img
          src="../../assets/brandWebsiteBuilder/dev/frontendDev/square4FrontEndDevelopment.JPG" (click)="imgSlider('square4')"
          alt=""
        />
      </li>
      <li>
        <img
          src="../../assets/brandWebsiteBuilder/dev/frontendDev/neutrackFrontEndDevelopmentJPG.JPG" (click)="imgSlider('neutrack')"
          alt=""
        />
      </li>
      <li>
        <img
          src="../../assets/brandWebsiteBuilder/dev/frontendDev/bobAndWeaveVideoGame.JPG" (click)="imgSlider('bobAndWeave')"
          alt=""
        />
      </li>
    </ul>
  </div>

  <!-- Social media Icons -->
  <div>
    <ul class="social-media-icons">
      <li>
        <a href=""><i class="bi bi-twitter"></i></a>
      </li>
      <li>
        <a href=""><i class="bi bi-instagram"></i></a>
      </li>
      <li>
        <a href=""><i class="bi bi-tiktok"></i></a>
      </li>
    </ul>
  </div>
</section>
