<section>
  <div class="current-img">
    <img
      src="../../assets/brandWebsiteBuilder/dev/frontendDev/bobAndWeaveVideoGame.JPG"
      alt=""
    />
  </div>
  <div class="img-directory">
    <ul class="img-directory-items">
      <a href="">
        <li class="img-directory-item">
          <h2>Back2Square4</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
            nisi quisquam sapiente perferendis, voluptas fugit architecto quod
            necessitatibus soluta nulla blanditiis, ratione eligendi, sed cumque
            nostrum quidem praesentium atque reiciendis.
          </p>
        </li></a
      >
      <a href="">
        <li class="img-directory-item">
          <h2>Neutrack</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
            nisi quisquam sapiente perferendis, voluptas fugit architecto quod
            necessitatibus soluta nulla blanditiis, ratione eligendi, sed cumque
            nostrum quidem praesentium atque reiciendis.
          </p>
        </li></a
      >
      <a href="">
        <li class="img-directory-item">
          <h2>Bob and Weave</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
            nisi quisquam sapiente perferendis, voluptas fugit architecto quod
            necessitatibus soluta nulla blanditiis, ratione eligendi, sed cumque
            nostrum quidem praesentium atque reiciendis.
          </p>
        </li></a
      >
    </ul>
  </div>
</section>
