* {
  box-sizing: border-box;
}
/* section {
  height: 700px;
} */
.current-img-bobAndWeave {
  display: inline-block;
  width: 80%;
  height: 1100px;
  background-image: url("../../assets/brandWebsiteBuilder/dev/frontendDev/bobAndWeaveVideoGame.JPG");
  background-color: #000;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: auto;
  background-origin: border-box;
  vertical-align: middle;
}
.current-img-square4 {
  display: inline-block;
  width: 80%;
  height: 1100px;
  background-image: url("../../assets/brandWebsiteBuilder/dev/frontendDev/square4FrontEndDevelopment.JPG");
  background-color: #000;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: auto;
  background-origin: border-box;
  vertical-align: middle;
}
.current-img-neutrack {
  display: inline-block;
  width: 80%;
  height: 1100px;
  background-image: url("../../assets/brandWebsiteBuilder/dev/frontendDev/neutrackFrontEndDevelopmentJPG.JPG");
  background-color: #000;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: auto;
  background-origin: border-box;
  vertical-align: middle;
}

.img-directory {
  display: inline-block;
  background-color: #b3b3b3;
  height: 1100px;
  width: 20%;
  vertical-align: middle;
}
.img-directory-items {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.img-directory-items a {
  text-decoration: none;
}
.img-directory-item {
  border-bottom: #b3b3b3 solid 3px;
  padding: 3px 16px;
}
.img-directory-item h2 {
  /* color: #fff; */
  color: #000;
}
.img-directory-item p {
  color: #000;
}
.img-directory-item:hover {
  background-color: #fff;
}

@media (max-width: 40rem) {
  .current-img-neutrack, .current-img-square4, .current-img-bobAndWeave, .img-directory {
    width: 100%;
    display: block;
    margin: 0px;
  }
  .current-img-neutrack, .current-img-square4, .current-img-bobAndWeave {
    height: 500px;
  }

  .img-directory {
    height: auto;
  }
}
