* {
  box-sizing: border-box;
}
header {
  width: 100%;
  padding: 8px 16px;
}
.brand {
  display: inline-block;
}
.navigation {
  display: inline-block;
  text-align: right;
  width: calc(100% - 60px);
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-list-item {
  display: inline-block;
  margin: 0px 5px;
}
.for-free::after {
  content: " (Free)";
}
.nav-list-item a {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  padding-bottom: 2px;
  border-bottom: #000000 solid 3px;
}

/* Effects */
.nav-list-item a:hover {
  color:  #5AB7DF;
  border-bottom-color: #fd7e14 ;
}
