<section>
  <header>
    <div class="brand">
      <a routerLink="/">
        <img
          src="../../assets/images/final file logo Barron Computing/Barron Computing-edit-banner.jpg"
          src="../../assets/images/final file logo Barron Computing/Barron Computing-02.png"
          height="150px"
          width="200px"
          alt=""
        />
      </a>
    </div>
    <nav class="navigation">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a routerLink="/applicationDevelopment">Application Development</a>
        </li>
        <li class="nav-list-item">
          <a href="#">Quality Assurance</a>
        </li>
        <li class="nav-list-item">
          <a href="#">Application Design</a>
        </li>
        <li class="nav-list-item">
          <a href="#">Tutorials (Free)</a>
        </li>
        <li class="nav-list-item">
          <a href="#">Products</a>
        </li>
        <li class="nav-list-item call-to-action">
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </nav>
  </header>
</section>
