<section>
  <header>
    <div class="brand">
      <img
        src="../../assets/images/final file logo Barron Computing/Barron Computing-edit-banner.jpg"
        height="75px"
        width="200px"
        alt=""
      />
    </div>
    <nav class="navigation">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="#">Application Development</a>
        </li>
        <li class="nav-list-item">
          <a href="#">Quality Assurance</a>
        </li>
        <li class="nav-list-item">
          <a href="#">Application Design</a>
        </li>
        <li class="nav-list-item">
          <a href="#">Tutorials (Free)</a>
        </li>
        <li class="nav-list-item">
          <a href="#">Products</a>
        </li>
        <li class="nav-list-item call-to-action">
          <a href="#">Get Quote</a>
        </li>
      </ul>
    </nav>
  </header>
</section>
