* {
  box-sizing: border-box;
}
header {
  width: 100%;
  padding: 8px 16px;
}
.brand {
  display: inline-block;
}
.navigation {
  display: inline-block;
  text-align: right;
  width: calc(100% - 210px);
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-list-item {
  display: inline-block;
  margin: 0px 5px;
}
.for-free::after {
  content: " (Free)";
}
.nav-list-item a {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  padding-bottom: 2px;

}
.call-to-action a {
  padding: 8px 16px;
  background: #ffa31a;
  color: #fff;
  border-radius: 40px;
  letter-spacing: 1px;
}

/* Effects */
.nav-list-item a:hover {
  color:  #5AB7DF;
  border-bottom: #ffa31a solid 3px;
}
.call-to-action a:hover {
  color: #fff;
  border-bottom: #000000 solid 3px;
}

/* #fd7e14 harder orange*/
